*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
    padding: 19px 15px;
}

a:hover {
    color: red;
}


body {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

#cabecalho {
    margin: auto;
    background: #1e111d;
    border: 3px solid #000000;
}

.options {
    padding: 15px;
    margin: auto;
}

#content {
    background: #1e111d;
    height: 250px;
}

.foto-sobre {
    margin-top: 1em;
    margin-left: 1.5em;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.sobre {
    max-width: 80%;
    text-align: justify;
    font-size: 19px;
    margin-left: 6em;
    margin-top: 4em;
}


.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

#rodape {
    border: 3px solid #000000;
    background: #1e111d;
    height: 150px;
    margin: auto;
}

.contato {
    text-align: center;
    padding: 20px;
}

a {
    background-color: none;
}

