*{
    padding: 0;
    margin: 0;
}

body {
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

#cabecalho {
    margin: auto;
    background: #1e111d;
}

.options {
    padding: 15px;
    margin: auto;
}

#content {
    border: 1px solid red;
    background: #1e111d;
    height: 250px;
}

.foto-sobre {
    margin-top: 1.5em;
    margin-left: 3em;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.sobre {    
    text-align: justify;
    padding: 3em;
    font-size: 20px;
    margin-top: 0;
    margin-left: 15em;
}
